In [1]:
print("HELLO WORLD")

HELLO WORLD

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
x=20
type(x)

int

In [6]:
list1 = ['a',5]
print(list1)
print(list1[0])

['a', 5]
a

In [5]:
tuple1 = (1,'5')
print(tuple1)

(1, '5')

In [8]:
list('subham')

['s', 'u', 'b', 'h', 'a', 'm']

In [9]:
l1=[10,20]
print(len(l1))

2

In [10]:
print(2+3)

5

In [12]:
name = ['ram','shyam']
name.append('Radha')
print(name)

['ram', 'shyam', 'Radha']

In [13]:
name = ['ram','shyam']
name.append('Radha','reli')
print(name)

TypeError: list.append() takes exactly one argument (2 given)

In [14]:
#Hence we use extend method
name = ['ram','shyam']
name.append(['Radha','sii'])
print(name)

['ram', 'shyam', ['Radha', 'sii']]

In [15]:
#above is nt looking good. hence we use extend method
name = ['ram','shyam']
name.extend(['Radha','shii'])
print(name)

['ram', 'shyam', 'Radha', 'shii']

In [97]:
name = ['ram','shyam']
i = name.index('shyam')
print(i)

1

In [17]:
lst1 = [0,1,2,7]
pop_lol = lst1.pop()
print(pop_lol)

7

In [18]:
lst1 = [0,1,2,7]
pop_lol = lst1.pop(2)
print(pop_lol)

2

In [19]:
my_list = [1, 2, 3, 4, 5]
index = my_list.index(3)
print(index)  # Output: 2

2

In [22]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()

In [23]:
my_list = ['a', 1, 'b', 2, 'c', 3]
my_list.reverse()
print(my_list)  # Output: [3, 'c', 2, 'b', 1, 'a']

[3, 'c', 2, 'b', 1, 'a']

In [24]:
my_list = [1,2,3]
my_list.sort()
print(my_list)  # Output: [3, 'c', 2, 'b', 1, 'a']

[1, 2, 3]

In [25]:
my_list = [1,2,3]
my_list.sort(reverse=True)
print(my_list)

[3, 2, 1]

In [26]:
my_list = ['a', 1, 'b', 2, 'c', 3 ,'b']
my_list.remove('b')
print(my_list)

['a', 1, 2, 'c', 3, 'b']

In [27]:
#tuples are immutable
#we can store all data types
work_loc = ('blore','mumbai','delhi')
type(work_loc)

tuple

In [29]:
#trick to add elements to a tuple
work_loc = ('blore','mumbai','delhi')
work_loc = list(work_loc)
work_loc.append('boo')
work_loc = tuple(work_loc)
print(work_loc)

('blore', 'mumbai', 'delhi', 'boo')

In [30]:
len(work_loc)

4

In [31]:
numbers = (1,2,3,4,1,2)

In [32]:
numbers.index(1)

0

In [33]:
numbers.index(2)

1

In [34]:
numbers.count(2)

2

In [35]:
#sets keep elemts in sorted rder and deletes the duplicate items
roll_num = set()
type(roll_num)

set

In [36]:
roll_num.add(4)
print(roll_num)

{4}

In [37]:
roll_num.add(6)
print(roll_num)

{4, 6}

In [38]:
roll_num.add(6)
print(roll_num)

{4, 6}

In [40]:
num1 = [1,2,3,4,5,6,7,1,2,3,5,8]
remove_dep = set(num1) #removes duplicates 
print(remove_dep)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
num1 = [1,2,3,4,5,6,7,1,2,3,5,8]
remove_dep = set(num1) #removes duplicates
num1 = list(remove_dep)
print(num1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#dictionary a data structure. key and value pairs and curlly brackets

In [43]:
i=11
j=8
if (i>j):
    print("Hello")
else:
    print("not")

Hello

In [44]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
a=int(input("enter a num"))
print(a)

enter a num 18

18

In [46]:
b=int(input("enter a num"))
print(b)

enter a num 21

21

In [48]:
#fstring and for else block #variables in curly {, brackets and everything b/w double quotes
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=2, tm_hour=19, tm_min=46, tm_sec=47, tm_wday=1, tm_yday=184, tm_isdst=0)

In [52]:
while True:
    result = time.localtime()
    if result.tm_hour==19 and result.tm_min==51:
        print("Wke up buddy")
        break

Wke up buddy

In [53]:
#enumerate
student = ["Gaurav","Suresh","Gukesh"]
for i in enumerate(student):
    print(i)

(0, 'Gaurav')
(1, 'Suresh')
(2, 'Gukesh')

In [54]:

for i in enumerate(student,1):
    print(i)

(1, 'Gaurav')
(2, 'Suresh')
(3, 'Gukesh')

In [55]:
#zip method
student_name = ["disha","akash","priya","surya"]
student_marks = [10,20,30,7]
stud_details = list(zip(student_name,student_marks))
print(stud_details)

[('disha', 10), ('akash', 20), ('priya', 30), ('surya', 7)]

In [56]:
#unzip
name,marks = list(zip(*stud_details))
print(name)
print(marks)

('disha', 'akash', 'priya', 'surya')
(10, 20, 30, 7)

In [59]:
#you can use zip and enumerate in one go
#break and contine break is used to terminate the loop
salary = [7,8,9,11,12]
for val in salary:
    if val==9:
        break
    print(val)

7
8

In [60]:
#continue is used to continue to the next instruction in the loop
salary = [7,8,9,11,12]
for val in salary:
    if val==9:
        continue
    print(val)

7
8
11
12

In [61]:
for val in "Stringexample":
    if val == "i":
        continue
    else:
        if val == "x":
            break
        print(val)

S
t
r
n
g
e

In [63]:
def say_hello(name):
    print("Hello\n\t",name)
say_hello("Dhuv")

Hello
	 Dhuv

In [64]:
def inc_salary(salary):
    if salary<=8000:
        salary+=1000
        return salary
    else:
        return salary
a=inc_salary(6000)
print(a)

7000

In [65]:
def inc_salary(salary):
    if salary<=8000:
        salary+=1000
        
    else:
        salary
a=inc_salary(6000)
print(a)

None

In [66]:
#lambda function
multi_num = lambda x,y:x*y
print(multi_num(4,2))

8

In [68]:
# *args
#we can take multiple arguements
def funname(*args):
    for i in args:
        print("my args",i)
print(funname("dhruv",89))

my args dhruv
my args 89
None

In [69]:
def funnyame(*args):
    for i in args:
        print("my args",i)
print(funnyame("dhruv",79))

my args dhruv
my args 79
None

In [70]:
#kwargs: result in key,value format.givivng same as dictionary
#def my_func(**kwargs):
def fuinyame(*args):
    for i in args:
        print("my args",i)

In [71]:
fuinyame("dhruv",79)

my args dhruv
my args 79

In [72]:
#kwargs: result in key,value format.givivng same as dictionary
def my_func(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [73]:
my_func(Student=["Ram","Shiv"],marks=[76,99])

Student ['Ram', 'Shiv']
marks [76, 99]

In [74]:
#string indexing 
a = "she is girl"

In [75]:
a[0]

's'

In [76]:
a[1:8]

'he is g'

In [77]:
a[::3]

's  r'

In [79]:
#map function. it is a in built function it will iterate without loop
def grace_marks(marks):
    if marks==33:
        return marks+2
    elif marks==34:
        return marks+1
    else:
        return marks

In [80]:
score = [32,33,43,33,32,55,66,12]

In [81]:
total = list(map(grace_marks,score))

In [82]:
total

[32, 35, 43, 35, 32, 55, 66, 12]

In [83]:
#filter funcn. we will filter
def filter_fun(marks):
    if marks<35:
        return marks

In [84]:
score = [23,33,45,6,12,18,99,65]

In [85]:
fail = list(filter(filter_fun,score))

In [86]:
fail

[23, 33, 6, 12, 18]

In [ ]:
#difference between filter and map
#map accepts all eleme=ents in a list and given funcn applied to it'
#filter: it accepts the data in the list and returns a new list whose elements will be those which return true for the given functio

In [90]:
#global and local variable
#local variable: it can be used only inside the function
def local_global():
    global var12 #converting local to global
    var12 = "this is"
    print(var12)

In [89]:
local_global()

this is

In [92]:
name  = input("enter yur name :")
if name.isalpha():
    print("hello")
else:
    print("sorrry")

enter yur name : hill

hello

In [93]:
mark = 88
subject = "maths"
mark2 = 33

In [94]:
#try and except. code inside try gets run if there is no error. if error, then except block is run
try:
    total = mark+subject
except:
    print("sorry error")
else:
    print(total)

sorry error

In [95]:
try:
    total = mark+mark2
except:
    print("sorry error")
else:
    print(total)

121

In [96]:
try:
    car = input("enter yur car:")
    name = input("enter name")
    mobile = int(input("enter yur number :"))
    if car == " ":
        raise Exception()
    elif name == " ":
        raise Exception()
    elif mobile == "":
        raise Exception()
    else:
        pass
except:
    if car == " ":
        print("\nplease enter proper\n")
    if name == " ":
        print("\nplease enter name proper\n")
    if mobile == " ":
        print("\nplease enter number proper\n")
else:
    print("thanks")

enter yur car: hundai
enter name
enter yur number : kill

NameError: name 'mobile' is not defined

In [ ]:
#try, except and else. try,except,finally: finally is executed even if try and except are not fully executed. else is 
#only executed if all statements in try block are executed and it is true